{{ define "base" }}
<html lang="en">

<head>
    <link rel=icon href="/favicon.png" sizes="16x16" type="image/png">
    <meta charset="utf-8">
    {{ if eq "contentserver.Post" (printf "%T" .)}}
        <meta name="author" content="Jacob Latonis">
        <meta name="description" content="{{ .Meta.Description }}">
        <title> {{.Meta.Title}}</title>
        <meta name="twitter:description" content="{{ .Meta.Description }}">
        <meta name="twitter:creator" content="@jacoblatonis">
        <meta name="twitter:title" content="{{ .Meta.Title }}">
        <meta name="twitter:card" content="summary">
    {{ else }}
        <title> Jacob's Musings </title>
    {{ end  }}

    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown-light.css"
        integrity="sha512-twSIkcOWTg8pO2szOkSwXeumnI79JQ0zVRavBB5cdJvhVFhReF9fBlyFM380P6vKIQ4mlD80EPtuZdSPpqYDgQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    
    <style>
        .home {
            li {
                margin-top: 1%
            }
        }   
        img {
            max-width: 60%;
            height: auto;
        }
        img, h1, h2, h3, p, li, ul {
            padding : 0;
        }
        ol {
            display: inline-block;
            text-align: left;
        }
        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 2.5rem; 
        }

        code {
            display: inline-block;
            text-align: left;
        }
    </style>
</head>

<body class="">
    <header>
        {{template "nav" .}}
    </header>
    <div style="text-align: center;">
        {{ if eq "contentserver.Post" (printf "%T" .)}}
            <div style="text-align: center" class="post">
                {{ template "post" .}}
            </div>
        {{ else }}
            <div class="home">
                {{ template "home" .}}
            </div>
        {{ end}}
        <footer>
            {{template "footer" .}}
        </footer>
    </div>
</body>
</html>
{{ end }}