{{ define "top" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/favicon-48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16.png">
    <title> {{ .Title }} | jacoblatonis.me </title>
</head>

<body class="p-4">
    <header>
        <h1>Jacob's Work</h1>
        <nav class="flex gap-4 pb-4 [&>a]:hover:text-raffia-800 [&>a]:transition-colors [&>a]:duration-300">
            <a href="/" {{ if eq .CurrentPath "/" }} class="text-black-500 font-bold" {{ else }} class="text-raffia-500"
                {{ end }}>Home</a>
            <a href="/about" {{ if eq .CurrentPath "/about" }}class="text-black-500 font-bold" {{else }}
                class="text-raffia-500" {{ end }}>About</a>
            <a href="/posts" {{ if eq .CurrentPath "/posts" }}class="text-black-500 font-bold" {{ else }}
                class="text-raffia-500" {{ end }}>Posts</a>
        </nav>
    </header>

    <main class="flex flex-col gap-4 pb-4">
        {{ end}}
        {{ define "bottom" }}
    </main>
    <footer>
        {{ template "footer" . }}
    </footer>
</body>

</html>
{{ end }}