{{ define "base" }}
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.0/github-markdown-light.css"
        integrity="sha512-twSIkcOWTg8pO2szOkSwXeumnI79JQ0zVRavBB5cdJvhVFhReF9fBlyFM380P6vKIQ4mlD80EPtuZdSPpqYDgQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="">
    <header>
        {{template "nav" .}}
    </header>
    {{ template "post" .}}
</body>

</html>
{{ end }}