{{define "nav"}}
<nav>
    <div style="text-align: center;">
        <ul style="list-style:none">
            <li style="display: inline-block;">
                <a href='/'>Home</a>
            </li>
            <li style="display: inline-block;">
                <a href="/posts/about">About</a>
            </li>
        </ul>
    </div>
</nav>
{{end}}