{{define "posts"}}
{{ template "top" . }}
<article
    class="[&>h1]:text-raffia-600 [&>h1]:text-3xl [&>h1]:font-bold [&>h1]:pb-4 [&>h2]:text-raffia-600 [&>h2]:text-2xl [&>h2]:font-bold [&>h2]:pb-4 [&>h3]:text-raffia-600 [&>h3]:text-xl [&>h3]:font-bold [&>h3]:pb-4">
    <h1>These are my posts</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {{range $index, $element := .}}
        <div class="border rounded-lg p-4 shadow-md">
            <h2 class="text-raffia-600 text-2xl font-bold pb-2">
                <a href="/posts/{{$element.Slug}}">{{$element.Meta.Title}}</a>
            </h2>
            <p class="text-lg pb-2">
                {{$element.Meta.Description}}
            </p>
        </div>
        {{ end }}
    </div>
</article>
{{ template "bottom" .}}
{{ end }}